<!DOCTYPE html>
<html>

<head>
    <title>Snowtooth : ERROR</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
<div id="wrapper">
    <%- include parts/nav %>

    <h1><%= message %></h1>
    <h2><%= error.status %></h2>
    <pre><%= error.stack %></pre>

    <%- include parts/footer %>
</div>
</body>

</html>